/* Styling for Sections */
.opportunite {
  text-align: justify;
  padding: 40px 0;
  /* Add padding to create space between sections */
}

.card-img-top:hover {
  scale: ;
}

.titre {
  text-align: center;
  margin-bottom: 20px;
}

.text {
  line-height: 1.6;
  /* Improve readability with line height */
}

.divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

/*style des lien2*/
.liens2 {
  color: #fa29ac;
}

.liens2:hover {
  color: #0ab9c2;
}

/* Styling for Links */
a {
  font-size: 20px;
  align-items: center;
  text-align: center;

  color: black;
  /* Bootstrap blue for links */
  text-decoration: none;
  /* Remove default underline
  */
}

a:hover {
  text-decoration: underline;
  color: white;
  /* Underline on hover */
}

/* Styling for the Benefits Section */
#benefits {
  background-color: #f8f9fa;
  /* Light background for the benefits section */
  padding: 40px 0;
}

#benefits h1 {
  text-align: center;
  margin-bottom: 20px;
}

#benefits ul {
  list-style: none;
  /* Use bullet points for the list */
  text-align: center;
  margin-left: 40px;
  /* Indent the list items */
}



/* Small Screen Styles (Mobile Devices) */
@media screen and (max-width: 600px) {
  nav ul li {


    /* Arrange navigation items vertically */
    margin: 10px 0;
  }

  .container {
    max-width: 95%;
    /* Make container take up most of the width */
  }

  .titre {
    font-size: 1.6rem;
    /* Adjust heading size */
  }

  .opportunite {
    padding: 10px;
    /* Adjust padding */
  }

  .liens2 {
    font-size: 0.9rem;
    /* Adjust link font size */
  }

  ul li {
    list-style: none;
  }
}

/* Medium Screen Styles (Tablets) */
@media screen and (min-width: 601px) and (max-width: 900px) {
  nav ul li {
    display: inline-block;
    /* Arrange navigation items horizontally */
    margin: 0 5px;
  }

  .container {
    max-width: 90%;
  }

  .titre {
    font-size: 1.8rem;
    /* Adjust heading size */
  }

  .opportunite {
    padding: 15px;
    /* Adjust padding */
  }
}